@import '../../assets/index.less';
@import '../../common/ref.less';

.container {
  width: 100vw;
  height: 100vh;
  background: @LOGIN_BG_PNG;
  background-size: 100% 100%;
  ._flex();
  ._flex_v_center();
  ._flex_h_center();
  .logo {
    display: block;
    width: 140px;
    height: 41px;
    margin: 30px auto;
  }
  .former {
    width: 360px;
    margin: auto;
    background: #fff;
    padding: 24px;
    border-radius: 4px;
  }
}
